/* Reset basique pour éviter les mauvaises surprises */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

.hidden {
    display: none; /* Classe utilitaire pour cacher des sections */
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Magie du responsive */
    gap: 20px;
    margin-top: 20px;
}
.search-bar {
    display: flex;
    flex-wrap: wrap; /* Pour que ça revienne à la ligne sur mobile */
    align-items: flex-end; /* Aligne les labels et selects en bas */
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

#search-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    flex: 1; /* L'input prend le maximum de place */
    max-width: 400px;
}

#language-select, #search-btn, #color-select , #type-select, #color-count-select, #set-select{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
label {
    text-align: center;
}

.search-bar div {
    display: flex;
    flex-direction: column; /* Label au-dessus du select */
    margin-right: 10px;
}